.wrapper{
    margin: 10px 100px;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.container{
    padding: 4% 0%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
p{
    line-height: 150%;
}
.references{
    padding: 0% 10%;
    line-height: 150%;
    font-style: italic;
}
.about{
    background-color: rgb(219, 219, 219);
    padding: 2% 10%;
}
.box{
    border: 0.5px solid rgb(198, 189, 189);
}
#button{
    background: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(136, 131, 131);
    border-color: rgb(158, 154, 154);
    cursor: pointer;
}